*{background-color:beige;
font-size: large
;
font-family: Verdana;}
header{
    background-color:darkred;
    height:6.5em;
 }
h1{ text-align: center;
    padding-top:1em;
    color:white;
    text-decoration;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman';
    background-color:darkred;
      }
h3{ color: lightpink; 
    text-align: center; 
    background-color:darkred;
}
nav{
    position: sticky;
    display: inline-block;
    width: 100%; 
    background-color: lightgrey;
    height: auto;
    padding: 1em; 
    font-size: large; 
    width: 100%;
    font-style: italic;
}
nav a    {padding-right: 20px;
        background-color: lightgrey;

}
table {
    border-style:solid;
    border: 1px;

}